<form
  [formGroup]="formGroup"
  class="flex flex-col min-w-[400px] gap-6 px-6 py-10 bg-white shadow-lg rounded-xl"
>
  <h1 class="text-center text-2xl font-semibold">Register new account</h1>
  <app-input [label]="'Email'" [required]="true" formControlName="email" />
  <app-input
    [label]="'Password'"
    [required]="true"
    type="password"
    formControlName="password"
  />
  <app-input
    [label]="'Confirm password'"
    [required]="true"
    formControlName="confirmPassword"
    type="password"
  />
  <div class="p-fluid">
    <app-button-flat
      label="Submit"
      [mode]="EButtonMode.FULL"
      (clickEmitter)="onSubmit()"
    />
  </div>
</form>
