<div class="flex h-screen items-center justify-center relative">
  <form
    [formGroup]="formGroup"
    class="flex flex-col min-w-[400px] gap-6 px-6 py-10 bg-white shadow-main rounded-xl"
  >
    <h1 class="text-center text-2xl font-semibold">Register new account</h1>
    <app-input [label]="'Name'" [required]="true" formControlName="name" />
    <app-input [label]="'Email'" [required]="true" formControlName="email" />
    <app-input
      [label]="'Password'"
      [required]="true"
      type="password"
      formControlName="password"
    />
    <app-input
      [label]="'Confirm password'"
      [required]="true"
      formControlName="confirmPassword"
      type="password"
    />
    <div class="p-fluid">
      <app-button-flat [label]="'Submit'" (clickEmitter)="onSubmit()" />
    </div>
  </form>
  <!-- <img src="/background/wave.svg" class="absolute bottom-0 left-0 right-0" /> -->
</div>
