<div class="flex h-screen items-center justify-center relative">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    class="flex flex-col min-w-[400px] gap-6 px-6 py-10 bg-white shadow-main rounded-xl"
  >
    <h1 class="text-center text-2xl font-semibold">Welcome back!</h1>
    <app-input
      label="Email"
      [required]="true"
      formControlName="email"
      type="email"
    />
    <app-input
      label="Password"
      [required]="true"
      formControlName="password"
      type="password"
    />
    <div class="p-fluid">
      <app-button-flat label="Sign in" (clickEmitter)="onSubmit()" />
    </div>
  </form>
  <img src="/background/wave.svg" class="absolute bottom-0 left-0 right-0" />
</div>
