<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="flex flex-col min-w-[400px] gap-6 px-6 py-10 bg-white shadow-lg rounded-xl"
>
  <h1 class="text-center text-2xl font-semibold">Welcome back!</h1>
  <app-input
    type="email"
    placeholder="Eg: email@example.com"
    formControlName="email"
    label="Email"
    [required]="true"
  />
  <app-input
    label="Password"
    placeholder="Enter your password"
    [required]="true"
    formControlName="password"
    type="password"
  />
  <div class="p-fluid">
    <app-button-flat
      label="Sign in"
      [mode]="EButtonMode.FULL"
      (clickEmitter)="onSubmit()"
    />
  </div>
</form>
