.menu-item {
  &.menu-item--active {
    position: relative;
    .menu-item__inner {
      @apply bg-primary-100;
    }

    .menu-item__icon {
      @apply text-primary;
    }

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      top: 0;
      bottom: 0;
      left: -10px;
      border-radius: 15px;
      @apply bg-primary-100;
    }
  }
}
